[Unit]
Description=Energy Recovery API
After=network.target mysql.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/energyRecovery/EnergyRecovery/v1/backend
ExecStart=/opt/energyRecovery/EnergyRecovery/v1/backend/energy-server
Restart=always
Environment="DB_PASS=940918"

[Install]
WantedBy=multi-user.target